.logos {

  &__slider {
    @include desktop {
      display: none;
    }
  }

  &__line {
    display: none;

    @include desktop {
      display: flex;
      flex-direction: row;
      gap: 100px;
    }
    @include fullHD {
      gap: 120px;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    // margin-bottom: 100px;
  }

  &__logo {
    height: 50px;
    width: 100%;
    max-width: 100%;
  }
}