@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin fullHD {
  @media (min-width: 1600px) {
    @content;
  }
}

@mixin large {
  @media (min-width: 1920px) {
    @content;
  }
}

@mixin orangeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  border-radius: 10px;
  color: #fff;
  background-color: #FF7143;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
}
